body{
    background: rgba(240, 255, 255, 0.671);
    color: rgba(0, 204, 255, 0.918);
}

button{
    padding: 1%;
    border-radius: 8px;
    border-color: white;
    color: blue
}

button:hover{
    background-color: lightgreen;
    cursor: pointer;
}

video{
    width: 50%;
}
